// Comandos para ejecutar el SASS
// - npm install -g sass
// - sass sass/main.scss css/styles.css
// - sass --watch sass/main.scss:css/styles.css
// - npm install cssnano --save-dev

@import "normalize";
@import "variables";
@import "fondoCuerpo";
@import "resultado";

* {
  font-family: $font-family-default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: $font-size-default;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  background-color: $color-background-body;
  line-height: 1.6;
  background-image: $fondo-cuerpo;
}

.container {
  padding: 3rem 4rem;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 5px;
  max-width: 90rem;
  margin: 0 auto;
}

.contenedorGrafico {
  height: 100%;
  width: 70vw;
}

.grafico {
  height: 60vh;
}

.titulo {
  text-align: center;
  margin: 0 0 5rem 0;
  font-size: 2rem;
}

.formulario {
  display: flex;
  gap: 10px;
}

.form-column {
  flex: 1;
  padding: 0 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  width: 22rem;
}

.form-input,
.form-select {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  width: 15rem;
  text-align: center;
  border-bottom: 1px solid $color-border-bottom;
  background-color: transparent;
}

.form-input:focus,
.form-select:focus {
  border-bottom: 1.5px solid $color-border-bottom-focus;
}

.form-checkbox {
  width: 20px;
  height: 20px;
}

.grupoBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.submit-btn {
  background-color: $color-background-button;
  color: $color-background-container;
  border: none;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin-top: 10px;
  padding: 12px 30px;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: $color-background-button-hover;
  transform: scale(1.05);
}

.hidden {
  display: none;
}

.resultados {
  margin-top: 20px;
}

@media (max-width: $breakpoint-medium) {
  .formulario {
    flex-direction: column;
    gap: 20px;
  }

  .form-group {
    width: 100%;
  }

  .submit-btn {
    width: 100%;
  }
}

@media (max-width: $breakpoint-small) {
  .form-group {
    width: 100%;
  }
}
