$font-family-default: "Poppins", sans-serif;
$font-size-default: 62.5%;
$color-background-default: #f0f0f0;
$color-background-body: #54b1de;
$color-background-container: #ffffff;
$color-background-button: #2bdb0cd2;
$color-background-button-hover: #2bdb0c;
$color-border-bottom: #ccc;
$color-border-bottom-focus: #2bdb0c;
$breakpoint-medium: 768px;
$breakpoint-small: 480px;
